*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
}

.burger{
    width: 28px;
    height: 28px;
    margin-top: 30px;
    margin-left: 12px;
}

.overlay {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.h3{
    padding-left: 15px;
    margin-top: 30px;
    font-size: 20px;
}

.over {
    position: absolute;
    top: 20px;
    left: 0px;
    display: flex;
    align-items: center; 
}

.imgcalcu {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.name {
    font-size: 12px;
}


.calculator{
    position: relative;
    background-color:black ;
    color: white;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 470px;
    height: 620px;
    margin: 0 auto;
    gap: 5px;
}


.pantalla.light{
    width: 100%;
    height: 100px;
    background-color: black;
    padding: .6rem 1.5rem 1.5rem 0.1rem;
    margin-top: 80px;
    font-size: 2rem;
    grid-column: 1/-1;
    text-align: right;
    border-radius: 15px;
    font-family: monospace;
}


.imgcal{
    width: 30px;
    height: 30px;
}
